---
const currentYear = new Date().getFullYear();
---

<footer class="text-center mt-10">
    <p>
      © {currentYear}
      <a href="https://www.v360energy.uk" title="v360energy - skillspacexr platform" target="_blank" rel="noopener noreferrer" class="link link-neutral">
        v360energy
      </a>
    </p>
    <p class="text-sm">v1.0.0</p>
</footer>