---
const { orgId, orgs } = Astro.props

---

<div>
    <form
        id="dashboard-org-selection-form"
        class="form-control w-full max-w-xs"
        action={Astro.url.pathname}
        method="POST"
    >
        <div class="label">
            <span class="label-text"></span>
            <span class="label-text-alt">Choose an organization to manage.</span>
        </div>
        <select class="select select-bordered select-sm border-neutral border-2 font-semibold" name="org">
            {orgs.map((org:any)=>
                org.id === orgId ? 
                    <option disabled selected>{org.organization_name}</option> :
                    <option value={org.id}>{org.organization_name}</option>
            )}
        </select>
        <div class="label">
            <span class="label-text-alt"></span>
            <span class="label-text-alt"></span>
        </div>
    </form>
</div>

<script>
    const form = document.getElementById("dashboard-org-selection-form") as HTMLFormElement;

    if (form) {
        const selectElement = form.getElementsByTagName("select")[0];
        if (selectElement) {
            selectElement.addEventListener("change", () => {
                form.submit();
            });
        }
    }
</script>