---
import { generateDashboardBreadcrumbs } from '../libs/utils'

const breadcrumbs = generateDashboardBreadcrumbs(Astro.url)

---

<div class="breadcrumbs text-sm mb-5">
    <ul>
        {breadcrumbs.map(item => (
            <li><a href={item.url}>{item.name}</a></li>
        ))}
    </ul>
</div>