---
import OnboardHeadsetErrorAlert from "./OnboardHeadsetErrorAlert.astro"

const {stepId} = Astro.props

---

<div class="hidden" data-step-cards data-step-card-id={stepId}>
    <OnboardHeadsetErrorAlert />
    <div class="flex flex-col lg:flex-row flex-grow">
        <div class="w-full lg:w-4/6 lg:self-end">
            <div class="text-start" data-step-error-group>
                <span class="loading loading-dots size-48 text-base-300"></span>
            </div>
            <div class="prose">
                <h1>Select Your Headset</h1>
                <p>
                    Ensure your headset is connected to your computer via USB. Once connected, it will appear in the popup dialog. Select the device to continue.
                </p>
            </div>
        </div>
        <div class="w-full lg:w-2/6 self-center flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2500 2500" fill="none" stroke="currentColor" class="size-44"  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="65">
                <path d="M1050 503.059c55.191 0 100 44.812 100 100 0 55.191-44.809 100-100 100s-100-44.809-100-100c0-55.188 44.809-100 100-100Zm0 0"/>
                <path d="M1050 403.059c110.379 0 200 89.62 200 200 0 110.382-89.621 200-200 200-110.383 0-200-89.618-200-200 0-110.38 89.617-200 200-200Zm0 0"/>
                <path d="M1050 303.059c165.578 0 300 134.43 300 300s-134.422 300-300 300c-165.574 0-300-134.43-300-300s134.426-300 300-300Zm0 0"/>
                <path d="M873.914 1240.469c-36.066-57.649-112.039-75.14-169.687-39.07-1.559.972-3.118 1.953-4.68 2.93-57.645 36.062-75.14 112.03-39.074 169.683l300.203 479.812 213.433-133.539-300.195-479.816Zm0 0"/>
                <path fill="#FFF" d="M940.969 800.828v938.852c0 252.539 204.722 457.261 457.261 457.261 252.54 0 457.258-204.722 457.258-457.261 0-169.371 2.801-320.961 2.801-320.961V1216.41c0-63.32-38.348-117.672-120.367-112-109.172 7.531-104.152 241.031-104.152 304.352l-4.81-323.282c0-30.41-12.081-59.582-33.589-81.082a114.678 114.678 0 0 0-162.16 0 114.677 114.677 0 0 0-33.582 81.082v333.239-391.61a114.64 114.64 0 0 0-33.59-81.078 114.668 114.668 0 0 0-81.078-33.582c-63.32 0-114.66 51.34-114.66 114.66v391.61-617.89c0-63.329-51.34-114.657-114.672-114.657-63.324 0-114.66 51.328-114.66 114.656"/>
                <path d="M940.969 800.828v938.852c0 252.539 204.722 457.261 457.261 457.261 252.54 0 457.258-204.722 457.258-457.261 0-169.371 2.801-320.961 2.801-320.961V1216.41c0-63.32-38.348-117.672-120.367-112-109.172 7.531-104.152 241.031-104.152 304.352l-4.81-323.282c0-30.41-12.081-59.582-33.589-81.082a114.678 114.678 0 0 0-162.16 0 114.677 114.677 0 0 0-33.582 81.082v333.239-391.61a114.64 114.64 0 0 0-33.59-81.078 114.668 114.668 0 0 0-81.078-33.582c-63.32 0-114.66 51.34-114.66 114.66v391.61-617.89c0-63.329-51.34-114.657-114.672-114.657-63.324 0-114.66 51.328-114.66 114.656Zm0 0"/>
            </svg>
        </div>
    </div>
</div>