---
import OnboardHeadsetErrorAlert from "./OnboardHeadsetErrorAlert.astro"

const {stepId} = Astro.props

---

<div class="hidden" data-step-cards data-step-card-id={stepId}>
    <OnboardHeadsetErrorAlert />
    <div class="flex flex-col lg:flex-row flex-grow">
        <div class="w-full lg:w-4/6 lg:self-end">
            <div class="text-start" data-step-error-group>
                <span class="loading loading-dots size-48 text-base-300"></span>
            </div>
            <div class="prose">
                <h1>Installing Pipe Application</h1>
                <p>
                    The Pipe application is being installed on your headset. This app enables communication with our servers and provides access to all your modules.
                </p>
            </div>
        </div>
        <div class="w-full lg:w-2/6 self-center flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="currentColor" stroke="currentColor" class="size-36" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="17.5">
                <path d="m323.33 278.47-20-.03.1-81.85-80.83-.1.03-20 90.83.11a10 10 0 0 1 9.99 10.02l-.12 91.85zM799.71 845l-90.83-.11c-5.52-.01-9.99-4.49-9.99-10.01l.11-91.85 20 .03-.1 81.85 80.83.1-.02 19.99z"/>
                <path d="m713.72 843.72-10.39-17.09c136.12-82.74 203.33-242.67 167.25-397.94-22.25-95.78-80.48-177.16-163.94-229.15s-182.18-68.37-277.96-46.11l-4.53-19.48c51.03-11.86 102.87-13.37 154.07-4.48 49.45 8.58 96.21 26.45 138.99 53.1C760 209.2 796.65 243.3 826.16 283.9c30.55 42.03 52.05 89.22 63.91 140.26 18.87 81.2 11.49 164.48-21.33 240.83a389.405 389.405 0 0 1-63.2 100.98c-26.46 30.64-57.36 56.8-91.82 77.75zm-201.99 56.52c-22.03 0-44.05-1.9-65.95-5.7-49.45-8.58-96.21-26.45-138.99-53.1C264 814.79 227.35 780.7 197.84 740.1c-30.55-42.03-52.05-89.22-63.91-140.26C96.5 438.7 165.39 271.31 305.36 183.32L316 200.25c-132.76 83.46-198.1 242.22-162.59 395.06 22.25 95.78 80.48 177.16 163.94 229.15 83.46 51.99 182.18 68.36 277.96 46.11l4.53 19.48c-29.19 6.8-58.66 10.19-88.11 10.19z"/>
                <path d="M560.25 762.2c-8.51 0-16.7-4.46-21.16-12.1l-15.53-26.59a4.403 4.403 0 0 0-3.94-2.19c-14.44.53-29.01-.45-43.3-2.94-1.6-.28-3.21.35-4.21 1.63l-18.98 24.27c-7.11 9.09-19.76 11.96-30.1 6.84l-47.42-23.5c-10.33-5.12-15.71-16.94-12.78-28.1l7.82-29.79c.41-1.58-.06-3.24-1.25-4.34a208.299 208.299 0 0 1-28.56-32.68 4.376 4.376 0 0 0-4.13-1.81l-30.56 3.74c-11.44 1.41-22.43-5.52-26.12-16.45l-16.91-50.15c-3.69-10.93.87-23.09 10.83-28.9l26.58-15.53a4.372 4.372 0 0 0 2.19-3.94c-.53-14.45.46-29.02 2.94-43.3.28-1.59-.35-3.21-1.63-4.21l-24.27-18.98c-9.09-7.11-11.96-19.76-6.84-30.1l23.5-47.42c5.12-10.34 16.94-15.71 28.1-12.78l29.79 7.82c1.58.41 3.24-.07 4.34-1.25a208.364 208.364 0 0 1 32.68-28.56 4.394 4.394 0 0 0 1.81-4.13l-3.74-30.56c-1.4-11.45 5.51-22.43 16.45-26.12L456 263.17c10.93-3.68 23.09.87 28.9 10.83l15.53 26.58a4.414 4.414 0 0 0 3.94 2.19c14.45-.53 29.02.46 43.3 2.94 1.6.28 3.21-.35 4.21-1.64l18.98-24.27c7.1-9.08 19.76-11.96 30.1-6.84l47.42 23.5c10.33 5.12 15.71 16.94 12.78 28.1l-7.82 29.79c-.41 1.58.07 3.24 1.25 4.34a208.882 208.882 0 0 1 28.56 32.68c.92 1.32 2.51 2.01 4.13 1.81l30.56-3.74c11.46-1.4 22.43 5.51 26.12 16.45l16.91 50.15c3.69 10.93-.87 23.09-10.83 28.9l-26.58 15.53a4.372 4.372 0 0 0-2.19 3.94c.53 14.45-.46 29.02-2.94 43.3-.28 1.59.35 3.21 1.64 4.21l24.26 18.98c9.09 7.11 11.96 19.76 6.84 30.1l-23.51 47.41c-5.12 10.33-16.94 15.71-28.09 12.78l-29.8-7.82c-1.58-.42-3.25.07-4.34 1.25a207.849 207.849 0 0 1-32.68 28.56 4.394 4.394 0 0 0-1.81 4.13l3.74 30.56c1.4 11.45-5.52 22.44-16.45 26.12l-50.15 16.91c-2.53.89-5.15 1.3-7.73 1.3zm-40.46-60.88c8.65 0 16.65 4.58 21.04 12.11l15.53 26.59a4.466 4.466 0 0 0 5.25 1.97l50.15-16.91a4.444 4.444 0 0 0 2.98-4.74L611 689.77c-1.09-8.95 2.79-17.73 10.15-22.91a188.783 188.783 0 0 0 29.54-25.81c6.13-6.6 15.35-9.28 24.08-6.99l29.8 7.82c2.03.53 4.17-.44 5.1-2.32l23.51-47.41c.93-1.88.41-4.17-1.24-5.46l-24.27-18.98a24.355 24.355 0 0 1-9.02-23.39c2.24-12.91 3.14-26.08 2.66-39.14-.33-8.99 4.3-17.4 12.09-21.94l26.58-15.53a4.449 4.449 0 0 0 1.96-5.25l-16.91-50.15a4.441 4.441 0 0 0-4.74-2.98l-30.56 3.74a24.334 24.334 0 0 1-22.91-10.15 188.783 188.783 0 0 0-25.81-29.54 24.362 24.362 0 0 1-6.99-24.08l7.82-29.79c.53-2.02-.44-4.17-2.32-5.1l-47.42-23.5a4.445 4.445 0 0 0-5.46 1.24l-18.98 24.27c-5.56 7.11-14.52 10.57-23.39 9.02a188.845 188.845 0 0 0-39.14-2.66 24.36 24.36 0 0 1-21.94-12.09l-15.53-26.58a4.449 4.449 0 0 0-5.25-1.96l-50.15 16.91a4.444 4.444 0 0 0-2.98 4.74l3.74 30.56c1.09 8.95-2.79 17.73-10.15 22.91a188.783 188.783 0 0 0-29.54 25.81 24.369 24.369 0 0 1-24.08 6.99l-29.79-7.82c-2.02-.53-4.17.45-5.1 2.32l-23.5 47.42a4.445 4.445 0 0 0 1.24 5.46l24.27 18.98a24.355 24.355 0 0 1 9.02 23.39 188.845 188.845 0 0 0-2.66 39.14c.33 8.99-4.3 17.4-12.09 21.94l-26.58 15.53a4.449 4.449 0 0 0-1.96 5.25l16.9 50.13c.67 1.98 2.67 3.24 4.74 2.98l30.56-3.74c8.94-1.1 17.73 2.79 22.91 10.14a188.783 188.783 0 0 0 25.81 29.54c6.6 6.13 9.28 15.36 6.99 24.08l-7.82 29.79c-.53 2.02.44 4.17 2.32 5.1l47.42 23.5c1.88.93 4.17.41 5.46-1.24l18.98-24.27c5.56-7.11 14.52-10.57 23.4-9.02a188.11 188.11 0 0 0 39.13 2.66c.28 0 .59-.01.89-.01z"/>
                <path d="M512.46 607.25c-52.45 0-95.13-42.67-95.13-95.13S460 417 512.46 417s95.13 42.67 95.13 95.13-42.68 95.12-95.13 95.12zm0-170.25c-41.42 0-75.13 33.7-75.13 75.13s33.7 75.13 75.13 75.13c41.42 0 75.13-33.7 75.13-75.13S553.88 437 512.46 437z"/>
            </svg>
        </div>
    </div>
</div>