---
const {stepId} = Astro.props

---

<div class="hidden" data-step-cards data-step-card-id={stepId}>
    <div class="flex flex-col lg:flex-row flex-grow">
        <div class="w-full lg:w-9/12 lg:self-end">
            <div class="prose">
                <h1>Congratulations!</h1>
                <p>
                    You've successfully completed the onboarding process. Your headset is now fully set up and ready to use.  
                </p>
                <p>
                    You can now explore all available modules and enjoy seamless communication with our servers. If you encounter any issues or have questions, our support team is here to help.  
                </p>
                <p>
                    Thank you for choosing our platform. We hope you have an exceptional experience!
                </p>
            </div>
        </div>
        <div class="w-full lg:w-3/12 self-center flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-36">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
</div>