---
import ErrorCapture from "../../../components/ErrorCapture.astro";
import LoginLayout from "../../../layouts/LoginLayout.astro";

import C from "../../../libs/config"
import { directusClientAuth, directusClientNoAuth } from "../../../libs/directus";

import { readItems, updateMe, withToken, type DirectusUser } from "@directus/sdk";
import { logger } from '@it-astro:logger';

let errors: any = {}

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  
  try {
    const pinResponse = await directusClientAuth.request(readItems("lms_actor_access", {
      filter: {access_pin: String(data.get("pin"))},
      alias: {unmasked_token: "token"},
      fields: ["user_id.unmasked_token", "organization_id.id"],
    }))

    if(!pinResponse.length) throw new Error("Incorrect PIN.");

    const [{
      user_id: {unmasked_token: unmaskedToken},
      organization_id: {id: orgId}
    }] = pinResponse

    await directusClientNoAuth.request<DirectusUser>(withToken(unmaskedToken, updateMe({last_access: new Date().toISOString() as "datetime"})))

    Astro.cookies.set(C.COOKIE_KEY_USER_ORG_ID, orgId, {path: "/"})
    Astro.cookies.set(C.COOKIE_KEY_USER_STATIC_TOKEN, unmaskedToken, {path: "/"})

    // TODO: you can do role base login here but for now just redirect to landing/content as default
    return Astro.redirect(Astro.url.searchParams.get('after_auth') || "/landing/content")
  } catch (error) {
    errors = (error as any)?.errors || [{ message: (error as any).message || error }];
    errors.forEach((error: any) => {logger.error(error.message)});
  }
} else {
  const pastDate = new Date("Thu, 01 Jan 1970 00:00:00 UTC")
  Astro.cookies.set(C.COOKIE_KEY_USER_ORG_ID, "", {path: "/", expires: pastDate})
  Astro.cookies.set(C.COOKIE_KEY_USER_ROLE_NAME, "", {path: "/", expires: pastDate})
  Astro.cookies.set(C.COOKIE_KEY_USER_STATIC_TOKEN, "", {path: "/", expires: pastDate})
}

---

<LoginLayout title="pin login">
  <form method="POST" autocomplete="off">
    <div class="mb-4">
        <label class="input input-bordered border-2 flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 opacity-40">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
            </svg>
            <input
                class="grow"
                name="pin"
                type="password"
                placeholder="Enter your pin"
                required
                aria-required="true"
                aria-label="Enter your pin"
                autocomplete="off"
            />
        </label>
    </div>
    <div class="mb-4">
        <ErrorCapture errors={errors} />
    </div>
    <div>
        <button type="submit" class="btn btn-neutral w-full">Login</button>
    </div>
  </form>
</LoginLayout>