---
import BaseLayout from "./BaseLayout.astro";
import DashboardMenu from "../components/DashboardMenu.astro";
import CopyrightFooter from "../components/CopyrightFooter.astro";

const { title } = Astro.props;
const { pathname } = Astro.url

---

<BaseLayout title={title} description="" ogImage="">
    <div class="min-h-screen">
        <div class="sticky top-0 bg-base-200 z-50 border-b h-12">
            <div class="h-full flex justify-between items-center">
                <div>
                    <img src="/images/logo-black-300w.png" alt="logo" class="h-10 w-auto" />
                </div>
                <div>
                    <DashboardMenu />
                </div>
            </div>
        </div>
        
        <div class="flex">
            <nav class="w-64" aria-label="Main Navigation">
                <div class="py-4 sticky top-12">
                    <div>
                        <ul class="menu p-2">

                            <li class="menu-item mb-2">
                                <a href="/dashboard/trainees/overview" class=`${pathname.startsWith("/dashboard/trainees") ? "active" : ""} nav-link`>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                        <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z" />
                                    </svg>
                                    <span class="font-bold">Trainees</span>
                                </a>
                                <ul class="submenu pl-4">
                                    <a href="/dashboard/trainees/overview" class=`${pathname.startsWith("/dashboard/trainees/overview") ? "active bg-gray-300" : ""} block px-3 py-1 my-2 rounded hover:bg-gray-200`>Overview</a>
                                    <a href="/dashboard/trainees/onboard" class=`${pathname.startsWith("/dashboard/trainees/onboard") ? "active bg-gray-300" : ""} block px-3 py-1 my-2 rounded hover:bg-gray-200`>Onboard</a>
                                </ul>
                            </li>

                            <li class="menu-item mb-2">
                                <a href="/dashboard/modules/subscription" class=`${pathname.startsWith("/dashboard/modules") ? "active" : ""} nav-link`>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                        <path d="m3.196 12.87-.825.483a.75.75 0 0 0 0 1.294l7.25 4.25a.75.75 0 0 0 .758 0l7.25-4.25a.75.75 0 0 0 0-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 0 1-2.276 0L3.196 12.87Z" />
                                        <path d="m3.196 8.87-.825.483a.75.75 0 0 0 0 1.294l7.25 4.25a.75.75 0 0 0 .758 0l7.25-4.25a.75.75 0 0 0 0-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 0 1-2.276 0L3.196 8.87Z" />
                                        <path d="M10.38 1.103a.75.75 0 0 0-.76 0l-7.25 4.25a.75.75 0 0 0 0 1.294l7.25 4.25a.75.75 0 0 0 .76 0l7.25-4.25a.75.75 0 0 0 0-1.294l-7.25-4.25Z" />
                                    </svg>
                                    <span class="font-bold">Modules</span>
                                </a>
                                <ul class="submenu pl-4">
                                    <a href="/dashboard/modules/subscription" class=`${pathname.startsWith("/dashboard/modules/subscription") ? "active bg-gray-300" : ""} block px-3 py-1 my-2 rounded hover:bg-gray-200`>Subscription</a>
                                </ul>
                            </li>

                            <li class="menu-item mb-2">
                                <a href="/dashboard/devices/overview" class=`${pathname.startsWith("/dashboard/devices") ? "active" : ""} nav-link`>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                        <path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                                        <path fill-rule="evenodd" d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="font-bold">Devices</span>
                                </a>
                                <ul class="submenu pl-4">
                                    <a href="/dashboard/devices/overview" class=`${pathname.startsWith("/dashboard/devices/overview") ? "active bg-gray-300" : ""} block px-3 py-1 my-2 rounded hover:bg-gray-200`>Overview</a>
                                    <a href="/dashboard/devices/onboard" class=`${pathname.startsWith("/dashboard/devices/onboard") ? "active bg-gray-300" : ""} block px-3 py-1 my-2 rounded hover:bg-gray-200`>Onboard</a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <CopyrightFooter />
                </div>
            </nav>
        
            <main role="main" class="w-full">
                <div class="p-4">
                    <slot />
                </div>
            </main>
        </div>
    </div>
</BaseLayout>
